In [1]:
from pathlib import Path
from dotenv import load_dotenv
from sqlalchemy import create_engine
import os
import pandas as pd
load_dotenv()

### Establishing Connection

In [2]:
host = os.getenv('DB_HOST')
user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
port = os.getenv('DB_PORT')
dbname = os.getenv('DB_NAME')

ENGINE = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{dbname}")
ENGINE

Engine(mysql+pymysql://quick_one:***@localhost:3306/pokedex)

In [3]:
def deleteRows(tableName):
    with ENGINE.connect() as connection:
        connection.execute(f"DELETE FROM {tableName}")
    
def showTable(tableName):
    command = f"SELECT * FROM {tableName}"
    return pd.read_sql(command, ENGINE)

def insertData(tableName, data):
    with ENGINE.connect() as connection:
        data.to_sql(tableName, con=connection, if_exists='append', index=False)

### Veryfying the connection

In [4]:
# show all the tables in the database
# restart the kernel after changing the .env file
pd.read_sql("SHOW TABLES", ENGINE)

      Tables_in_pokedex
0                  auth
1           generations
2   move_damage_classes
3                 moves
4               pokemon
5        pokemon_colors
6      pokemon_habitats
7         pokemon_moves
8        pokemon_shapes
9       pokemon_species
10        pokemon_types
11               roster
12          roster_user
13        type_efficacy
14                types
15                 user

### Adding all tables

In [7]:
dataFolder = Path.cwd()/'pokedex'/'pokedex'/'data'/'csv'

### 1. generations

In [8]:
filename = 'generations.csv'
drop_cols = ['id']
rename_cols = {'main_region_id':'id'}

df = pd.read_csv(dataFolder/filename)
df = df.drop(drop_cols, axis=1)
df = df.rename(columns=rename_cols)

df

   id       identifier
0   1     generation-i
1   2    generation-ii
2   3   generation-iii
3   4    generation-iv
4   5     generation-v
5   6    generation-vi
6   7   generation-vii
7   8  generation-viii

In [12]:
insertData('generations', df)